<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h2>Create new chat :</h2>
    <form method="post" action="/chats">
      <input type="text" name="from" placeholder="Enter your name">
      <br><br />
      <textarea name="msg" placeholder="Enter the chat" rows="8" cols="40"></textarea>
      <br><br/>
      <input type="text" name="to" placeholder="Enter receivers name">
      <br><br/>
      <button>Add chat</button>
    </form>
</body>
</html>